<footer>

<div class="m-4 p-4">
    <hr class="my-4">
    <h4 class="text-center">BlogIt</h4>
    <p class="text-center">@copyright All right BlogIt</p>
    <ul style="display:flex; flex-direction: row; align-items: center; justify-content: center; gap:1rem;">
        <li style="display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;">
          <a href="#"><i class="fa-brands fa-facebook" style="background:white;
        padding: 0.5rem;
        border-radius: 50%;
        font-size: 0.9rem;
        transition:all 400ms ease;"
     ></i></a>
        </li>

        <li style="display: flex; gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;"
      >
          <a href="#"><i class="fa-brands fa-instagram" style="background:white;
            padding: 0.5rem;
            border-radius: 50%;
            font-size: 0.9rem;
            transition:all 400ms ease;"
         ></i></a>
        </li>

        <li style="display: flex;
             gap: 1rem;
             align-items: center;
             margin-bottom: 1rem;">
          <a href="#"><i class="fa-brands fa-twitter" style="background:white;
            padding: 0.5rem;
            border-radius: 50%;
            font-size: 0.9rem;
            transition:all 400ms ease;">
          </i>
          </a>
        </li>

        <li style="display: flex;gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;">
          <a href="#"><i class="fa-brands fa-linkedin" style="background:white;
            padding: 0.5rem;
            border-radius: 50%;
            font-size: 0.9rem;
            transition:all 400ms ease;"></i></a>
        </li>
      </ul>
    <hr class="my-4">
</div>
    
</footer>